p {
    font-family: "Helvetica", serif;
    font-size: 14pt;
    margin-bottom: 0.1in;
    direction: ltr;
    line-height: 115%;
    text-align: justify;
    background: transparent
}
div {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
}
ol {
    font-family: "Helvetica", serif;
    font-size: 18pt;
    font-weight: bold;
}
h1 {
    direction: ltr;
    text-align: center;
    background: transparent;
    font-family: "Helvetica", serif;
    font-size: 24pt;
}
h2 {
    direction: ltr;
    text-align: justify;
    orphans: 2;
    widows: 2;
    background: transparent;
    font-family: "Helvetica", serif;
    font-size: 18pt;
}
h3 {
    direction: ltr;
    text-align: justify;
    orphans: 2;
    widows: 2;
    background: transparent;
    font-family: "Helvetica", serif;
    font-size: 16pt;
}
del {
  text-decoration: line-through;
}
.back {
    text-align: right
}
.attribute {
    color: #ffc000
}
.element {
    color: #0070c0
}
.value {
    color: #c45911
}
.entity {
    color: #92d050
}
.link {
    color: #0563c1
}
.declaration {
    color: #8b26c9
}
.punkt {
    margin-left: 0.4in
    }
.unterpunkt { margin-left: 0.5in }
